In [5]:
import pandas as pd

In [15]:
data = pd.read_csv('C:/Users/Admin/Desktop/Github/DAC-Internal-Projects/dataset/Resale_Flat_Prices.csv')

In [17]:
data.head()

,month,town,flat_type,block,street_name,storey_range,floor_area_sqm,flat_model,lease_commence_date,remaining_lease,resale_price
0,2017-01,ANG MO KIO,2 ROOM,406,ANG MO KIO AVE 10,10 TO 12,44.0,Improved,1979,61 years 04 months,232000.0
1,2017-01,ANG MO KIO,3 ROOM,108,ANG MO KIO AVE 4,01 TO 03,67.0,New Generation,1978,60 years 07 months,250000.0
2,2017-01,ANG MO KIO,3 ROOM,602,ANG MO KIO AVE 5,01 TO 03,67.0,New Generation,1980,62 years 05 months,262000.0
3,2017-01,ANG MO KIO,3 ROOM,465,ANG MO KIO AVE 10,04 TO 06,68.0,New Generation,1980,62 years 01 month,265000.0
4,2017-01,ANG MO KIO,3 ROOM,601,ANG MO KIO AVE 5,01 TO 03,67.0,New Generation,1980,62 years 05 months,265000.0

In [18]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 194170 entries, 0 to 194169
Data columns (total 11 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   month                194170 non-null  object
 1   town                 194170 non-null  object
 2   flat_type            194170 non-null  object
 3   block                194170 non-null  object
 4   street_name          194170 non-null  object
 5   storey_range         194170 non-null  object
 6   floor_area_sqm       194170 non-null  float64
 7   flat_model           194170 non-null  object
 8   lease_commence_date  194170 non-null  int64
 9   remaining_lease      194170 non-null  object
 10  resale_price         194170 non-null  float64
dtypes: float64(2), int64(1), object(8)
memory usage: 16.3+ MB

In [19]:
data.info(show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 194170 entries, 0 to 194169
Data columns (total 11 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   month                194170 non-null  object
 1   town                 194170 non-null  object
 2   flat_type            194170 non-null  object
 3   block                194170 non-null  object
 4   street_name          194170 non-null  object
 5   storey_range         194170 non-null  object
 6   floor_area_sqm       194170 non-null  float64
 7   flat_model           194170 non-null  object
 8   lease_commence_date  194170 non-null  int64
 9   remaining_lease      194170 non-null  object
 10  resale_price         194170 non-null  float64
dtypes: float64(2), int64(1), object(8)
memory usage: 16.3+ MB

In [20]:
data.isnull().sum()

month                  0
town                   0
flat_type              0
block                  0
street_name            0
storey_range           0
floor_area_sqm         0
flat_model             0
lease_commence_date    0
remaining_lease        0
resale_price           0
dtype: int64